body {
    background-color: #174d73 !important;
    font-family: 'Ubuntu', sans-serif;
}

#loading {
    position: absolute;
    font-size: 40px;
    color: #FFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

.logo {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.admin {
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#loginBox {
    background-color: #113650;
    padding: 25px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

#rooms {
    background-color: #113650;
    padding: 25px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

#game {
    background-color: #113650;
    padding: 25px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

.room:not(:first-child) {
    padding: 10px 0;
    padding-bottom: 0;
    margin-top: 10px;
    border-top: 1px solid #174d73;
}

.create-room {
    margin-bottom: 8px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
}

.myButton {
    background-color: #174d73;
    border-color: #174d73;
    border-radius: 0;
}

.myButtonGreen {
    background-color: #157e34;
    border-color: #157e34;
    border-radius: 0;
}

.myButtonRed {
    background-color: #c31717;
    border-color: #c31717;
    border-radius: 0;
}

.counter {
    text-align: center;
    font-size: 50px;
}